/* Displaying with CSS Style */
table, th, td {
  border: 1px black solid;
  border-collapse: collapse;
  padding: 5px 8px;
}

table tr:nth-child(odd) {
  background-color: #f1f1f1
}

table tr:nth-child(even) {
  background-color: #fff
}
